*.iml
.gradle
*.png
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
app/src/main/res/animation/
app/src/main/res/drawable/
app/src/main/res/raw/
